$primary-color: #f26961;
$secondary-color: #f26961;
$primary-color-dark: darken(#3960ee, 10%);
$secondary-color-dark: darken(#4a90e2, 10%);
$default-color: #444;
$background-color: #f5f5f5;
$danger-color: #dc3545;
$danger-color-dark: darken(#dc3545, 10%);
$disabled-color: #6c757d;

// Shad Cn Ui Color
$shad-cn-primary: hsl(240 5.9% 10%);
$shad-cn-primary-hover: #2f2f31;
$shad-cn-secondary: #ffffff;
$shad-cn-secondary-hover: #f4f4f5;
