.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .form-logo {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .form-header {
    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
