// LeadDetailPage.scss
.lead-detail-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Arial", sans-serif;
  color: #333;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;

    h1 {
      font-size: 2.5rem;
      color: white;
    }

    .lead-type {
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-weight: bold;
      text-transform: uppercase;

      background-color: #46a1de;
      color: white;
    }
  }

  .lead-info-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 1.5rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &.full-width {
      grid-column: 1 / -1;
    }

    h2 {
      font-size: 1.2rem;
      color: #3498db;
      margin-bottom: 1rem;
      border-bottom: 2px solid #ecf0f1;
      padding-bottom: 0.5rem;
    }

    .info-content {
      display: flex;
      gap: 0.8rem;
      flex-direction: column;
    }
  }

  .info-item {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      font-weight: bold;
      color: #7f8c8d;
    }

    .info-item_content {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .value {
      text-align: right;
    }
  }
}

@media (max-width: 768px) {
  .lead-detail-page {
    padding: 1rem;

    header {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }

    .lead-info-grid {
      grid-template-columns: 1fr;
    }
  }
}
