@import "../app/globals.css";

* {
  font-family: nunito;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4a90e2;
  --secondary-color: #6b73ff;
  --default-color: #444;
  --background-color: #f5f5f5;
}
